<!DOCTYPE html>
<html lang="ru" class="nojs">
<head>
	{% block head %}
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
	{% block title %}
		<title>Message Wall</title>
	{% endblock %}
	{% endblock %}

		
</head>
<body>
	{% block header %}
		<a href="{% url 'home' %}">Main page</a>
		<a href="{% url 'write_message' %}" >Add message</a>
	{% endblock %}
	{% block errors %}
		{% if notifications %}
		<ul class="messages">
			{% for message in notifications %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endblock %}
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	

</body>
</html>
