{% extends 'base.html' %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/home.js"></script>
	
{% block title %}
	<title>Message Wall</title>
{% endblock %}

{% endblock %}


	
{% block content %}

	<p>Message wall:</p>
	<div id="messages">
	{% for message in messages %}
		<div id="message_id_{{ message.id }}" style="margin-left:{{ message.level }}%">
		{{ message.id }}
			<i align="left" style="font-size: 18px; font-weight: 100; margin-left:2%;">{{ message.text }}</i>
			<i id="{{ message.id }}_note" ><a style="margin-left:30%">{{ message.date_and_time }}</a>
				<div  style="margin-left:50%; font-size: 14px; font-weight: 100;">
				<a id="showChilds_{{ message.id }}" {% if message.id in trees or  message.id in childs %} style="visibility:hidden" {% endif %} href="#" onclick="show_childs_or_tree('childs', {{ message.id }});">Show comments of message</a><br>
				<a id="showTree_{{ message.id }}" href="#" {% if message.id in trees %} style="visibility:hidden" {% endif %} onclick="show_childs_or_tree('trees',{{ message.id }});">Show whole discussion of this message</a><br>
				<a id="replyTo_{{ message.id }}" href="#message_id_{{ message.id }}" onclick="replyTo({{ message.id }});return false;">Reply</a><br>
				</div>
			</i>
			<br>
		</div>
	{% endfor %}
	</div>
	<div id="div_for_form">
	<form id="id_write_review_to_message_form"  method="post" action="{% url 'write_review' %}" style="visibility:hidden">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" id="submit" value="Добавить">
		<input type="button" id="cancel" value="Отменить">
	</form>
	</div>
{% endblock %}